<div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{ modal_title }}</h3>
</div>
<div class="modal-body" id="modal-body">
    {{ modal_message }}
</div>
<div class="modal-footer">
	<div class="row">
		<div class="col-xs-12">
			<button class="btn btn-primary modal-button modal-primary-button" type="button" ng-click="modal_ok()">{{ modal_ok_text }}</button>
		</div>
		<div class="col-xs-12">
			<button class="btn btn-warning modal-button modal-secondary-button" type="button" ng-click="modal_cancel()">{{ modal_cancel_text }}</button>
		</div>
	</div>
</div>