<div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><pre style="margin: 0; line-height: 125%"><span style="color: #555555; font-weight: bold">@Autowired</span>
  <span style="color: #008800; font-weight: bold">private</span> MessageSource {{template_text}}<span style="color: #333333">;</span>
</pre></div>
