<div class="highlight"><pre><span></span>        <span class="kd">final</span> <span class="n">List</span><span class="o">&lt;</span><span class="n">Long</span><span class="o">&gt;</span> <span class="n">ids</span><span class="o">;</span>
        <span class="k">if</span> <span class="o">(</span><span class="n">cmd</span><span class="o">.</span><span class="na">getId</span><span class="o">()</span> <span class="o">!=</span> <span class="kc">null</span><span class="o">)</span> <span class="o">{</span>
            <span class="k">if</span> <span class="o">(</span><span class="n">cmd</span><span class="o">.</span><span class="na">getIds</span><span class="o">()</span> <span class="o">!=</span> <span class="kc">null</span> <span class="o">&amp;&amp;</span> <span class="o">!</span><span class="n">cmd</span><span class="o">.</span><span class="na">getIds</span><span class="o">().</span><span class="na">isEmpty</span><span class="o">())</span> <span class="o">{</span>
                <span class="k">throw</span> <span class="k">new</span> <span class="n">InvalidParameterValueException</span><span class="o">(</span><span class="s">&quot;Specify either id or ids but not both parameters&quot;</span><span class="o">);</span>
            <span class="o">}</span>
            <span class="n">ids</span> <span class="o">=</span> <span class="k">new</span> <span class="n">ArrayList</span><span class="o">&lt;&gt;();</span>
            <span class="n">ids</span><span class="o">.</span><span class="na">add</span><span class="o">(</span><span class="n">cmd</span><span class="o">.</span><span class="na">getId</span><span class="o">());</span>
        <span class="o">}</span> <span class="k">else</span> <span class="o">{</span>
            <span class="n">ids</span> <span class="o">=</span> <span class="n">cmd</span><span class="o">.</span><span class="na">getIds</span><span class="o">();</span>
        <span class="o">}</span>

        <span class="c1">// first search distinct vm id by using query criteria and pagination</span>
        <span class="kd">final</span> <span class="n">SearchBuilder</span><span class="o">&lt;</span><span class="n">UserVmJoinVO</span><span class="o">&gt;</span> <span class="n">sb</span> <span class="o">=</span> <span class="n">_userVmJoinDao</span><span class="o">.</span><span class="na">createSearchBuilder</span><span class="o">();</span>
        <span class="n">sb</span><span class="o">.</span><span class="na">select</span><span class="o">(</span><span class="kc">null</span><span class="o">,</span> <span class="n">Func</span><span class="o">.</span><span class="na">DISTINCT</span><span class="o">,</span> <span class="n">sb</span><span class="o">.</span><span class="na">entity</span><span class="o">().</span><span class="na">getId</span><span class="o">());</span> <span class="c1">// select distinct ids</span>

        <span class="n">_accountMgr</span><span class="o">.</span><span class="na">buildACLViewSearchBuilder</span><span class="o">(</span><span class="n">sb</span><span class="o">,</span> <span class="n">domainId</span><span class="o">,</span> <span class="n">isRecursive</span><span class="o">,</span> <span class="n">permittedAccounts</span><span class="o">,</span>
                <span class="n">listProjectResourcesCriteria</span><span class="o">);</span>

        <span class="kd">final</span> <span class="n">String</span> <span class="n">hypervisor</span> <span class="o">=</span> <span class="n">cmd</span><span class="o">.</span><span class="na">getHypervisor</span><span class="o">();</span>
        <span class="kd">final</span> <span class="n">Object</span> <span class="n">name</span> <span class="o">=</span> <span class="n">cmd</span><span class="o">.</span><span class="na">getName</span><span class="o">();</span>
        <span class="kd">final</span> <span class="n">String</span> <span class="n">state</span> <span class="o">=</span> <span class="n">cmd</span><span class="o">.</span><span class="na">getState</span><span class="o">();</span>
        <span class="kd">final</span> <span class="n">Object</span> <span class="n">zoneId</span> <span class="o">=</span> <span class="n">cmd</span><span class="o">.</span><span class="na">getZoneId</span><span class="o">();</span>
        <span class="kd">final</span> <span class="n">Object</span> <span class="n">keyword</span> <span class="o">=</span> <span class="n">cmd</span><span class="o">.</span><span class="na">getKeyword</span><span class="o">();</span>
        <span class="kt">boolean</span> <span class="n">isAdmin</span> <span class="o">=</span> <span class="kc">false</span><span class="o">;</span>
        <span class="kt">boolean</span> <span class="n">isRootAdmin</span> <span class="o">=</span> <span class="kc">false</span><span class="o">;</span>
        <span class="k">if</span> <span class="o">(</span><span class="n">_accountMgr</span><span class="o">.</span><span class="na">isAdmin</span><span class="o">(</span><span class="n">caller</span><span class="o">.</span><span class="na">getId</span><span class="o">()))</span> <span class="o">{</span>
            <span class="n">isAdmin</span> <span class="o">=</span> <span class="kc">true</span><span class="o">;</span>
        <span class="o">}</span>
        <span class="k">if</span> <span class="o">(</span><span class="n">_accountMgr</span><span class="o">.</span><span class="na">isRootAdmin</span><span class="o">(</span><span class="n">caller</span><span class="o">.</span><span class="na">getId</span><span class="o">()))</span> <span class="o">{</span>
            <span class="n">isRootAdmin</span> <span class="o">=</span> <span class="kc">true</span><span class="o">;</span>
        <span class="o">}</span>
</pre></div>
