<h3>Thank you so much for participating!</h3>

<p>This survey aims to understand the source code readability.</p>

<p>We are going to show you 5 code snippet pairs and ask: <i>Which of
  these two code snippets you consider the most readable?</i> <b>There will
  be a voting button below each one of the code snippets. Click on the button
  corresponding to the code snippet you consider the most readable in that
  pair.</b></p>

<p><b>Snippets within a pair are not necessarily functionally equivalent</b>,
so we advise you not to spend time scanning the code looking for differences
between them.</p>

<p>Afterwards, we'll ask you some profiling questions in order to look for some correlations.</p>

<p><b>We respect your privacy</b> and won't disclose your particular data. The
data we will make available is going to be aggregated and anonymized.</p>
<!-- vim :tw=80 : -->
