<h3>¡Muchas gracias por participar!</h3>

<p>Este experimento objetiva entender lo que hace un código fuente
legible.</p>

<p>Vamos a mostrarle 5 pares de fragmentos de código y le preguntamos:
<i>¿Cuál de estos dos fragmentos de código consideras el más legible?
</i><b>Habrá ser un botón de votación debajo de cada uno de los fragmentos de
código. Haga clic en el botón correspondiente al fragmento de código que
consideras más legible en ese par.</b></p>

<p><b>Los códigos dentro de un par no son necesariamente funcionalmente
  equivalentes</b>, por lo que le aconsejamos que no pase tiempo buscando
diferencias entre ellos.</p>

<p>Posteriormente, le haremos algunas preguntas de perfil para que podamos buscar
correlaciones.</p>

<p><b>Respetamos tu privacidad</b> y no divulgaremos tus datos particulares.
Los datos que posteriormente pondremos a disposición se van a agregar y
anonimizar.</p>
