<h3>Muito obrigado por participar!</h3>

<p>Este experimento objetiva compreender a legibilidade de código-fonte.</p>

<p>Mostraremos 5 pares de trechos de código e para cada um
perguntaremos: <i>Qual destes dois trechos de código você considera o mais
legível?</i> <b>Haverá um botão de votação abaixo de cada um dos dois trechos
de código. Clique no botão correspondente ao código que você considera o mais
legível naquele par.</b></p>

<p><b>Os códigos dentro de um par não são necessariamente funcionalmente
equivalentes</b>, então aconselhamos que você não gaste tempo procurando
diferenças entre eles.</p>

<p>Depois, apresentaremos um formulário com questões sobre o seu
perfil para buscarmos algumas correlações.</p>

<p><b>Respeitamos sua privacidade</b> e não revelaremos nenhum de seus dados ao
público. Os dados que tornaremos públicos serão sumarizados e
anonimizados.</p>
<!-- vim :tw=80 : -->

