<h3>Dankegon pro partopreni!</h3>

<p>Ĉi tiu eksperimento intencas koni kion farigas programkodon
esti legebla.</p>

<p>Ni montros 5 programkoderajn (code snippets) parojn. Pri ĉiuj paroj,
ni demandos: <i>kiun, el tiuj du koderoj, vi konsideras esti la plej
  legebla?</i> <b>Estos butonoj sub ambaŭ koderoj. Alkliku la butonon sur tiu
  kodero, kiun vi konsideras la plej legebla.</b></p>

<p><b>Koderoj ene paro ne estas nepre funkcie ekvivalentaj</b>, do ni konsilas, ke vi
ne elspezu tempon serĉante diferencojn inter ili.</p>

<p>Poste, ni montros kelkajn demandojn por koni vian profilon kaj serĉi kelkajn
korelaciojn.</p>

<p><b>Ni respektas vian privatecon</b> kaj ni diskonigos neniujn informaĵojn,
kiujn iel ajn povus identigi vin. Tiun datumbazo, kiun ni kreos kaj eldonos,
enhavos nur anonimigitaj datumoj.</p>

<!-- vim :tw=80 : -->
