Arquivo para ajudar em macros para geração de código da tela de perfil

							<div class="form-group"
								ng-class="{'has-error': profileForm.<%fieldName%>.$invalid && !profileForm.<%fieldName%>.$pristine}">
								<label for="<%fieldName%>"> <spring:message
										code="profile.form.labels.<%fieldName%>"></spring:message>
								</label> 
								<input type="number" 
									class="form-control" 
									id="<%fieldName%>" 
									name="<%fieldName%>" 
									ng-model="profile.<%fieldName%>"
									required/>
								<div ng-show="profileForm.<%fieldName%>.$error.required && !profileForm.<%fieldName%>.$pristine">
									<spring:message code="profile.form.fields.<%fieldName%>.error.required">
									</spring:message>
								</div>



flossExperienceTime
age
yearsInSchool
gender
programmingLanguages
naturalLanguages
operatingSystems
englishConfortLevel
perceivedReadabilityLevel


							<div class="form-group"
								ng-class="{'has-error': profileForm.flossExperienceTime.$invalid && !profileForm.flossExperienceTime.$pristine}">
								<label for="flossExperienceTime"> <spring:message
										code="profile.form.labels.flossExperienceTime"></spring:message>
								</label> 
								<input type="number" 
									class="form-control" 
									id="flossExperienceTime" 
									name="flossExperienceTime" 
									ng-model="profile.flossExperienceTime"
									/>
								<div ng-show="profileForm.flossExperienceTime.$error.required && !profileForm.flossExperienceTime.$pristine">
									<spring:message code="profile.form.fields.flossExperienceTime.error.required">
									</spring:message>
								</div>



