<!-- HTML generated using hilite.me --><div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><pre style="margin: 0; line-height: 125%"><span style="color: #555555; font-weight: bold">@Autowired</span>
	<span style="color: #008800; font-weight: bold">private</span> MessageSource messageSource<span style="color: #333333">;</span>
	
	<span style="color: #555555; font-weight: bold">@ExceptionHandler</span><span style="color: #333333">(</span>MethodArgumentNotValidException<span style="color: #333333">.</span><span style="color: #0000CC">class</span><span style="color: #333333">)</span>
	<span style="color: #555555; font-weight: bold">@ResponseStatus</span><span style="color: #333333">(</span>HttpStatus<span style="color: #333333">.</span><span style="color: #0000CC">BAD_REQUEST</span><span style="color: #333333">)</span>
	<span style="color: #555555; font-weight: bold">@ResponseBody</span>
	<span style="color: #008800; font-weight: bold">public</span> ErrorMessageDTO <span style="color: #0066BB; font-weight: bold">processValidationError</span><span style="color: #333333">(</span>MethodArgumentNotValidException ex<span style="color: #333333">)</span> <span style="color: #333333">{</span>
		<span style="color: #008800; font-weight: bold">return</span> <span style="color: #0066BB; font-weight: bold">processErrors</span><span style="color: #333333">(</span>ex<span style="color: #333333">.</span><span style="color: #0000CC">getBindingResult</span><span style="color: #333333">());</span>
	<span style="color: #333333">}</span>
	
	<span style="color: #555555; font-weight: bold">@ExceptionHandler</span><span style="color: #333333">(</span>Exception<span style="color: #333333">.</span><span style="color: #0000CC">class</span><span style="color: #333333">)</span>
	<span style="color: #555555; font-weight: bold">@ResponseStatus</span><span style="color: #333333">(</span>HttpStatus<span style="color: #333333">.</span><span style="color: #0000CC">INTERNAL_SERVER_ERROR</span><span style="color: #333333">)</span>
	<span style="color: #555555; font-weight: bold">@ResponseBody</span>
	<span style="color: #008800; font-weight: bold">public</span> ErrorMessageDTO <span style="color: #0066BB; font-weight: bold">processUnhandledException</span><span style="color: #333333">(</span>Exception ex<span style="color: #333333">)</span> <span style="color: #333333">{</span>
		ErrorMessageDTO result <span style="color: #333333">=</span> <span style="color: #008800; font-weight: bold">new</span> ErrorMessageDTO<span style="color: #333333">();</span>
		Locale locale <span style="color: #333333">=</span> LocaleContextHolder<span style="color: #333333">.</span><span style="color: #0000CC">getLocale</span><span style="color: #333333">();</span>
		String msg <span style="color: #333333">=</span> messageSource<span style="color: #333333">.</span><span style="color: #0000CC">getMessage</span><span style="color: #333333">(</span><span style="background-color: #fff0f0">&quot;common.error.internal&quot;</span><span style="color: #333333">,</span> <span style="color: #008800; font-weight: bold">null</span><span style="color: #333333">,</span> locale<span style="color: #333333">);</span>
		result<span style="color: #333333">.</span><span style="color: #0000CC">setGeneralMessage</span><span style="color: #333333">(</span>msg<span style="color: #333333">);</span>
		<span style="color: #008800; font-weight: bold">return</span> result<span style="color: #333333">;</span>
	<span style="color: #333333">}</span>
</pre></div>

