<pre style="margin: 0; line-height: 125%">	<span style="color: #008800; font-weight: bold">protected</span> ErrorMessageDTO <span style="color: #0066BB; font-weight: bold">processErrors</span><span style="color: #333333">(</span>BindingResult bindingResult<span style="color: #333333">)</span> <span style="color: #333333">{</span>
		Assert<span style="color: #333333">.</span><span style="color: #0000CC">notNull</span><span style="color: #333333">(</span>bindingResult<span style="color: #333333">);</span>
		ErrorMessageDTO result <span style="color: #333333">=</span> <span style="color: #008800; font-weight: bold">new</span> ErrorMessageDTO<span style="color: #333333">();</span>
		Locale locale <span style="color: #333333">=</span> LocaleContextHolder<span style="color: #333333">.</span><span style="color: #0000CC">getLocale</span><span style="color: #333333">();</span>
		
		<span style="color: #008800; font-weight: bold">if</span> <span style="color: #333333">(</span>bindingResult<span style="color: #333333">.</span><span style="color: #0000CC">hasGlobalErrors</span><span style="color: #333333">())</span> <span style="color: #333333">{</span>
			String msg <span style="color: #333333">=</span> messageSource<span style="color: #333333">.</span><span style="color: #0000CC">getMessage</span><span style="color: #333333">(</span>bindingResult<span style="color: #333333">.</span><span style="color: #0000CC">getGlobalError</span><span style="color: #333333">().</span><span style="color: #0000CC">getCode</span><span style="color: #333333">(),</span>
					bindingResult<span style="color: #333333">.</span><span style="color: #0000CC">getGlobalError</span><span style="color: #333333">().</span><span style="color: #0000CC">getArguments</span><span style="color: #333333">(),</span> locale<span style="color: #333333">);</span>
			result<span style="color: #333333">.</span><span style="color: #0000CC">setGeneralMessage</span><span style="color: #333333">(</span>msg<span style="color: #333333">);</span>
		<span style="color: #333333">}</span>

		List<span style="color: #333333">&lt;</span>FieldError<span style="color: #333333">&gt;</span> errors <span style="color: #333333">=</span> bindingResult<span style="color: #333333">.</span><span style="color: #0000CC">getFieldErrors</span><span style="color: #333333">();</span>
		
		<span style="color: #008800; font-weight: bold">for</span> <span style="color: #333333">(</span>FieldError fieldError <span style="color: #333333">:</span> errors<span style="color: #333333">)</span> <span style="color: #333333">{</span>
			String msg <span style="color: #333333">=</span> messageSource<span style="color: #333333">.</span><span style="color: #0000CC">getMessage</span><span style="color: #333333">(</span>fieldError<span style="color: #333333">.</span><span style="color: #0000CC">getDefaultMessage</span><span style="color: #333333">(),</span> fieldError<span style="color: #333333">.</span><span style="color: #0000CC">getArguments</span><span style="color: #333333">(),</span> locale<span style="color: #333333">);</span>
			result<span style="color: #333333">.</span><span style="color: #0000CC">addFieldError</span><span style="color: #333333">(</span>fieldError<span style="color: #333333">.</span><span style="color: #0000CC">getField</span><span style="color: #333333">(),</span> msg<span style="color: #333333">);</span>
		<span style="color: #333333">}</span>
		
		<span style="color: #008800; font-weight: bold">return</span> result<span style="color: #333333">;</span>
	<span style="color: #333333">}</span>
</pre>
