body, html {
	background: #0a3f75;
}

div.fields-container {
	background-color: white;
	color: black;
	font-family: sans-serif;
	font-size: 14pt;
	border-width: 2px;
	padding: 30px;
	-webkit-border-radius: 15;
	-moz-border-radius: 15;
	border-radius: 15px;
}

@media (min-width: 768px) {
	div.fields-container {
		margin-top: 20px;
		padding: 40px 30px;
	}
}

a.link-button {
	cursor: pointer;
	display: block;
	-webkit-border-radius: 15;
	-moz-border-radius: 15;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
	border-radius: 15px;
	text-shadow: 1px 1px 3px #666666;
	font-family: Arial;
	color: #ffffff;
	font-size: 14pt;
	font-weight: bold;
	padding: 10px 20px;
	text-decoration: none;
	text-align: center;
	margin: 10px auto;
}

@media (min-width: 768px) {
	a.link-button {
		padding: 10px 40px;
	}
}

a.link-back {
	background: #e6e6e6;
	background-image: -webkit-linear-gradient(top, #e6e6e6, #c3c3c3);
	background-image: -moz-linear-gradient(top, #e6e6e6, #c3c3c3);
	background-image: -ms-linear-gradient(top, #e6e6e6, #c3c3c3);
	background-image: -o-linear-gradient(top, #e6e6e6, #c3c3c3);
	background-image: linear-gradient(to bottom, #e6e6e6, #c3c3c3);
	float: left;
}

a.link-next {
	background: #43e043;
	background-image: -webkit-linear-gradient(top, #43e043, #30b03f);
	background-image: -moz-linear-gradient(top, #43e043, #30b03f);
	background-image: -ms-linear-gradient(top, #43e043, #30b03f);
	background-image: -o-linear-gradient(top, #43e043, #30b03f);
	background-image: linear-gradient(to bottom, #43e043, #30b03f);
	text-shadow: 1px 1px 3px #666666;
	float: right;
}

a.link-button:hover {
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
}

.modal-button {
	width: 100%;
	margin: 2px 0;
	border: 0;
}

.modal-primary-button {
	background: #43e043;
	background-image: -webkit-linear-gradient(top, #43e043, #30b03f);
	background-image: -moz-linear-gradient(top, #43e043, #30b03f);
	background-image: -ms-linear-gradient(top, #43e043, #30b03f);
	background-image: -o-linear-gradient(top, #43e043, #30b03f);
	background-image: linear-gradient(to bottom, #43e043, #30b03f);
	text-shadow: 1px 1px 3px #666666;
}

.modal-secondary-button {
	background: #e6e6e6;
	background-image: -webkit-linear-gradient(top, #e6e6e6, #c3c3c3);
	background-image: -moz-linear-gradient(top, #e6e6e6, #c3c3c3);
	background-image: -ms-linear-gradient(top, #e6e6e6, #c3c3c3);
	background-image: -o-linear-gradient(top, #e6e6e6, #c3c3c3);
	background-image: linear-gradient(to bottom, #e6e6e6, #c3c3c3);
	text-shadow: 1px 1px 3px #666666;
}



/* angular-ui workaround (https://angular-ui.github.io/bootstrap/):*/
.nav, .pagination, .carousel, .panel-title a {
	cursor: pointer;
}

/* ng-cloak needed css rules */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak,
	.x-ng-cloak {
	display: none !important;
}

.has-error {
	color: red;	
	background-color: rgb(255, 235, 235);
}

.form-group {
	padding: 0 5px !important;
}

h4.optional-fields {
	margin-bottom: 1.5em;
	font-style: italic;
}

img.logo-img {
	width: 50%;
	margin: auto;
	display: block;
	background: white;
	padding: 10px;
	border-radius: 5%;
}

h2.experiment-title {
	color: white;
	text-align: center;
}

@media (min-width: 646px) {
	img.logo-img {
		width: 30%;
	}
}

@media (min-width: 992px) {
	img.logo-img {
		width: 60%;
	}
}

@media (min-width: 1200px) {
	h2.experiment-title {
		margin-top: 1em;
	}
}