div.language-buttons-container {
	margin: 40px auto;
}

a.language-sel {
  display: block;
  background: #43e043;
  background-image: -webkit-linear-gradient(top, #43e043, #30b03f);
  background-image: -moz-linear-gradient(top, #43e043, #30b03f);
  background-image: -ms-linear-gradient(top, #43e043, #30b03f);
  background-image: -o-linear-gradient(top, #43e043, #30b03f);
  background-image: linear-gradient(to bottom, #43e043, #30b03f);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 40px;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-align: center;
  margin-top: 30px;
}

@media (min-width: 768px) {
	
}

a.language-sel:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}