.btn-pairs-snippet {
	width: 80%;
	display: block;
}

.btn-pairs-snippet.active {
	font-weight: bold;
}

label.pair-comments-label {
	margin-top: 20px;
	color: white;
	font-size: 18pt;
	font-family: 'sans-serif';
}

.strength-row {
	color: white;
	font-family: 'sans-serif';
	font-weight: bold;
	font-size: 18pt;
	margin-top: 80px;
}

.strength-container {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.strength-container .option-container {
	display: inline-block;
	margin: 0 10px;
}

.radio-inline > input[type="radio"] {
    position: inherit;
}

.radio-inline.18pt {
	line-height: 18pt;
}

.radio-inline.bold {
	font-weight: bold;
}

.comments-row {
	margin-top: 80px;
}
