.votecomment-selected-snippet-container {
	border: solid 10px yellow;
}

.votecomment-unselected-snippet-container {
	margin: 10px;
}

.votecomment-unselected-snippet-container div {
	opacity: 0.75;
}

.votecomment-textarea {
	margin-top: 20px;
}