<taglib  xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-jsptaglibrary_2_0.xsd"
         version="2.0">
	<tlib-version>1.0</tlib-version>
	<short-name>Readability Experiment Tag Lib</short-name>
	<uri>ReadabilityLib</uri>
	
	<tag>
		<name>profileField</name>
		<tag-class>readability.tags.ProfileFieldTag</tag-class>
		<body-content>empty</body-content>
		<attribute>
			<name>fieldName</name>
			<type>java.lang.String</type>
			<required>true</required>
		</attribute>
		<attribute>
			<name>inputType</name>
			<type>java.lang.String</type>
			<required>true</required>
		</attribute>
		<attribute>
			<name>maxLength</name>
			<type>java.lang.Integer</type>
			<required>false</required>
		</attribute>
		<attribute>
			<name>required</name>
			<type>java.lang.Boolean</type>
			<required>false</required>
		</attribute>
		<attribute>
			<name>validationErrors</name>
			<type>java.lang.String</type>
			<required>false</required>
		</attribute>
	</tag>
</taglib>